  ion-toggle {
      --background: green;
      --background-checked: red;
    
      --handle-background: red;
      --handle-background-checked: green;
  }

  ion-footer {
    ion-toolbar {
      color: var(--ion-color-primary);
    }
  }

  ion-content form ion-item ion-label {
    color: var(--ion-color-primary);
  } 

  