<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Lista de Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header translucent>

    <ion-item>
      <ion-label>Ano</ion-label>
      <ion-datetime
      [pickerOptions]="customPickerOptions" 
      placeholder="Informe o Ano-Mês" 
      displayFormat="YYYY-MM" 
      [min]=anoMin 
      [(ngModel)]=anoMin
      (ionChange)="consultaReservas()">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Local Reservado</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="vrLocal" (ionChange)="consultaReservas()">
        <ion-select-option *ngFor="let local of locais" [value]="local.id">{{ local.dsLocal }}</ion-select-option>
      </ion-select> 
    </ion-item>

  </ion-header>

  <ion-content>

    <ion-list>
      <ion-list-header>
        Reservas Agrupadas por Tipo
      </ion-list-header>

      <ng-template ngFor let-reserva [ngForOf]="reservas"  let-i="index" even as isEven>
        <ion-item-group>
          <ion-item-divider>  
            <ion-label>{{reserva.localReserva.dsLocal}} - {{ reserva.dtReserva | date:'dd/MM/yyyy' }}</ion-label>
            <ion-badge  slot="start" color="secondary">{{i+1}}</ion-badge>
          </ion-item-divider>

          <ion-item color="secondary">
            <ion-label>Hora de Início: {{ reserva.hrIniReserva | date:'HH:mm' }}  Hora de Término: {{ reserva.hrFimReserva | date:'HH:mm' }} </ion-label>
          </ion-item>
          <ion-item color="secondary">
            <ion-label>{{reserva.unidadeReserva.nrAp}} - {{reserva.unidadeReserva.nmProprietario}}</ion-label>
          </ion-item>

        </ion-item-group>
      </ng-template>

    </ion-list>

  </ion-content>


</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <ion-button fill="solid" color="secondary" (click)="voltar()">
      Voltar
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>




