<ion-menu contentId="main-content">

  <ion-content>

    <img src="assets/icon/favicon.png" class="menu-logo"/>

    <ion-list>
      <ion-list-header color="primary">
        Menu Principal
      </ion-list-header>
      <ion-item *ngFor="let menuItem of appMenuItems">
        <ion-menu-button menuClose (click)="openPage(menuItem)"> 
        <ion-icon  item-left [name]="menuItem.icon"></ion-icon>       
        </ion-menu-button>
        <ion-label>{{menuItem.title}}</ion-label>
    </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Residencial Villa Borgio</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>