<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="resourceForm" (ngSubmit)="submitForm()">

    <ion-item>
      <ion-label>Unidade</ion-label>
      <ion-select formControlName="unidadeReserva">
        <ion-select-option value="101">101</ion-select-option>
        <ion-select-option value="102">102</ion-select-option>
        <ion-select-option value="103">103</ion-select-option>
        <ion-select-option value="104">104</ion-select-option>      
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Local da Reserva</ion-label>
      <ion-select formControlName="localReserva">
        <ion-select-option value="">Academia</ion-select-option>
        <ion-select-option value="nes">Churrasqueira</ion-select-option>
      </ion-select>
    </ion-item>
    

    <ion-item>
      <ion-label>Ano</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions" 
      placeholder="Informe o Ano" 
      displayFormat="YYYY" 
      [min]=anoMin 
      [value]=anoMin>
      </ion-datetime>
    </ion-item>
    

    <ion-item>
      <ion-label>Data da Reserva</ion-label>
      <ion-datetime formControlName="dataReserva" 
        value="2020-08-19" 
        min="2020" 
        max="2020"
        [dayShortNames]=customDayShortNames
        displayFormat="YYYY-MM-DD"
        [dayNames]=customDayNames
        [monthNames]=customMonthNames
        [monthShortNames]=customMonthShortNames
        [cancelText]=customCancelText
        [doneText]=customDoneText>
      </ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>De</ion-label>
      <ion-datetime formControlName="horaIni" displayFormat="HH:mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Até</ion-label>
      <ion-datetime formControlName="horaFim" displayFormat="HH:mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Observação</ion-label>
      <ion-textarea clearOnEdit="true"></ion-textarea>
    </ion-item>

</form>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button  type="submit" fill="solid" color="success" (click)="submitForm()">
        Salvar
         <ion-icon slot="start" name="log-in"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="secondary" (click)="voltar()">
      Voltar
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>
