<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Unidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Item</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ng-template ngFor let-unidade [ngForOf]="unidades"  let-i="index" even as isEven>
    <ion-item-group>
        <ion-item color="secondary">
          <ion-label color="secondary">
            <a [routerLink]="['edit/', unidade.id]">{{unidade.nrAp}}</a>
          </ion-label>
        </ion-item>   
        <ion-item color="secondary">
          <ion-label position="fixed" color="dark">Alugado</ion-label>
          <ion-checkbox slot="start" border-width="5px" disabled="true" [checked]="unidade.locado"></ion-checkbox>
          <ion-label color="dark">Proprietário: {{unidade.nmProprietario}}</ion-label>
        </ion-item>
        <ion-item-divider></ion-item-divider>        
    </ion-item-group>
  </ng-template>

</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <ion-button fill="solid" color="secondary" (click)="voltar()">
      Voltar
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>
