<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Condomínio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
 
    <ion-item>
      <ion-label>Nome</ion-label>  
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Endereço</ion-label>
      <ion-input></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label>Bairro</ion-label>
      <ion-input></ion-input>
    </ion-item>        

    <ion-item>
      <ion-label>CEP</ion-label>
      <ion-input type="number" minlength="8" maxlength="8" min="1" max="99999999"></ion-input>
    </ion-item>            

    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Razão Social</ion-label>
      <ion-input></ion-input>
    </ion-item>    

</form>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <ion-button  type="submit" fill="solid" color="success" (click)="submitForm()">
        Salvar
         <ion-icon slot="start" name="log-in"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="secondary" (click)="voltar()">
      Voltar
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-footer>

