ion-item {
  --background: var(--ion-color-secondary-tint);
}

ion-content {
  --background: var(--ion-color-secondary-tint);
}

ion-toggle {
    --background: green;
    --background-checked: red;
  
    --handle-background: red;
    --handle-background-checked: green;
}