<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reservas</ion-title>
  </ion-toolbar>
</ion-header> 
 
<ion-content>
  <ion-tabs>
    <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button tab="reserva-form">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Nova Reserva</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="minha-conta">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Minha Conta</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="reserva-list">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Minhas Reservas</ion-label>
        <ion-badge color="danger">1</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="menu-principal">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <ion-label>Voltar </ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>  

